@import 'tailwindcss';

/* Blue color scale based on logo: https://maketintsandshades.com/#4381C1 */
@theme {
	--font-display: 'Segoe UI', 'Verdana', 'Ubuntu', 'Noto Sans';
	--font-editor: 'Consolas', 'Courier New', 'monospace';

	--text-size-base: 14px;
	--text-size-base--line-height: 1rem;
	--text-size-menu: 13px;
	--text-size-menu--line-height: 20px;
	--text-size-secondary: 12px;
	--text-size-secondary--line-height: 16px;
	--text-size-title: 16px;
	--text-size-title--line-height: 1rem;
	--text-size-product: 18px;
	--text-size-product--line-height: 1rem;
	--text-size-header: 24px;
	--text-size-header--line-height: 1.3rem;
	--text-size-input: 14px;
	--text-size-input--line-height: 1.5rem;
	--text-size-info: 14px;
	--text-size-info--line-height: 1.15em;

	--color-back: #e3e3e3;
	--color-info: #d2d2d8;
	--color-backdrop: rgba(0, 0, 0, 0.2);
	--color-text: #000;
	--color-logo: #000;
	--color-title-bar: #f4f4f4;
	--color-title-text: #000;
	--color-title-text-blur: #000;
	--color-title-hover: #dfecf9;
	--color-menu: #f4f4f4;
	--color-menu-text: #000;
	--color-menu-disabled: #b7b7b7;
	--color-menu-hover: #d2dfec;
	--color-menu-separator: #d8d8d8;
	--color-item-selected: #d9e6f3;
	--color-drop-indicator: #000;
	--color-shared: #d78af6;
	--color-search-parent: #888;
	--color-error: red;
	--color-online: green;
	--color-offline: red;
	--color-warning: #f6ba00;
	--color-button-primary: #4381c1;
	--color-button-primary-text: #fff;
	--color-button-disabled: #aaa;
	--color-button-disabled-text: #ccc;
	--color-button-secondary: #777;
	--color-button-secondary-text: #fff;
	--color-button-hover: rgba(0, 0, 0, 0.2);
	--color-dialog: #f4f4f4;
	--color-dialog-border: #000;
	--color-input: #fff;
	--color-input-text: #000;
	--color-input-selection: #0078d7;
	--color-input-selected-text: #fff;
	--color-toolbar: #f4f4f4;
	--color-toolbar-separator: #555;
	--color-toolbar-disabled: #b7b7b7;
	--color-toolbar-hover: #dfecf9;
	--color-progress-indicator: green;
	--color-toolbar-toggled: #d9e6f3;
	--color-search-highlight: #ffc147;
	--color-info-bar: #d9e6f3;
	--color-info-bar-accented: #ffc147;
	--color-good: green;
	--color-bad: red;
	--color-splash: #4381c1;
	--color-checkbox: #4381c1;
}

@layer theme {
	html[data-theme='dark'] {
		--color-back: #3f3f3f;
		--color-info: #505059;
		--color-backdrop: rgba(255, 255, 255, 0.1);
		--color-text: #d4d4d4;
		--color-logo: #fff;
		--color-title-bar: #323233;
		--color-title-text: #ccc;
		--color-title-text-blur: #8e8e8e;
		--color-title-hover: #454646;
		--color-menu: #252526;
		--color-menu-text: #ccc;
		--color-menu-disabled: #555;
		--color-menu-hover: #555;
		--color-menu-separator: #333;
		--color-item-selected: #555;
		--color-drop-indicator: #fff;
		--color-shared: #d78af6;
		--color-search-parent: #888;
		--color-error: red;
		--color-online: green;
		--color-offline: red;
		--color-warning: #f6ba00;
		--color-button-primary: #777;
		--color-button-primary-text: #fff;
		--color-button-disabled: #484848;
		--color-button-disabled-text: #777;
		--color-button-secondary: #282828;
		--color-button-secondary-text: #fff;
		--color-button-hover: rgba(255, 255, 255, 0.2);
		--color-dialog: #3f3f3f;
		--color-dialog-border: #8e8e8e;
		--color-input: #1e1e1e;
		--color-input-text: #d4d4d4;
		--color-input-selection: #a8c7fa;
		--color-input-selected-text: #000;
		--color-toolbar: #323233;
		--color-toolbar-separator: #555;
		--color-toolbar-disabled: #666;
		--color-toolbar-hover: #454646;
		--color-toolbar-toggled: #555;
		--color-progress-indicator: #8e8e8e;
		--color-search-highlight: #bf5116;
		--color-info-bar: #555;
		--color-info-bar-accented: #bf5116;
		--color-good: green;
		--color-bad: #ff2222;
		--color-splash: #4381c1;
		--color-checkbox: #4381c1;
	}
}

html {
	--sa-support: env(safe-area-inset-top);
}

html[data-env-support='true'] {
	--safe-area-top: env(safe-area-inset-top);
}

html[data-env-support='false'] {
	--safe-area-top: 25px;
}

html[data-env-support='false'] {
	--safe-area-top: 25px;
}

.unexpected-closing-bracket {
	color: inherit !important;
}

button.primary {
	@apply bg-button-primary text-button-primary-text hover:brightness-125 rounded-sm select-none;
	@apply font-display text-size-base;
	@apply cursor-default;
	@apply py-2 px-4 min-w-24;
}

button.primary:disabled,
button.primary[disabled] {
	@apply bg-button-disabled text-button-disabled-text hover:brightness-100 select-none;
}

button.secondary {
	@apply bg-button-secondary text-button-secondary-text hover:brightness-125 rounded-sm select-none;
	@apply py-2 px-4  min-w-24;
}

button.secondary:disabled,
button.secondary[disabled] {
	@apply bg-button-disabled text-button-disabled-text hover:brightness-100 select-none;
}

select:disabled,
input:disabled,
textarea:disabled {
	@apply bg-input opacity-60;
}

h1,
h2 {
	@apply font-display text-size-header;
}

a {
	@apply underline;
}

a:hover {
	@apply no-underline;
}

html,
body,
#app {
	@apply font-display;
	@apply overflow-hidden h-full w-full font-display;
}

input.basic-input {
	@apply bg-input text-input-text text-size-input px-1.5 pt-px pb-[2px] rounded-sm w-full;
}

input[type='checkbox'] {
	@apply w-[0.9rem] h-[0.9rem] accent-checkbox;
}

select {
	@apply bg-input text-input-text text-size-input py-1 px-px rounded-sm;
}

input::selection {
	@apply bg-input-selection text-input-selected-text;
}

textarea {
	@apply bg-input;
}

div.info {
	@apply bg-info pl-3 pr-4 pb-4 pt-3 text-size-info rounded-sm;
}

div {
	box-sizing: border-box;
}

.search-highlight {
	background-color: var(--color-search-highlight);
}

.drag {
	-webkit-app-region: drag;
}

.no-drag {
	-webkit-app-region: no-drag;
}

dialog {
	@apply m-auto max-md:mt-[33%];
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
}
